.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.h2 {
  margin-bottom: 0px;
}