:root {
  --ifm-background-section-color: #f2f2f2;
  --ifm-background-section-dark: #242526;
}
  
html[data-theme="light"] .card {
  background-color: var(--ifm-background-section-color);
}

html[data-theme="dark"] .card {
  background-color: var(--ifm-background-section-dark);
}

.features {
  padding: 2rem 0;
}

.feature {
  display: flex !important;
  flex-direction: column;
}

.feature a {
  color: unset;
  text-decoration: none;
}

.card {
  flex-grow: 0;
  justify-content: center;
  border-radius: 8px;
}

.titles {
  height: 180px;
}

h2, .container-h2 {
  font-family: 'Bai Jamjuree';
}

@media screen and (max-width: 1200px) {
  #features {
    padding: 2rem 1rem;
  }

  .titles {
    height: 160px;
  }
}

@media screen and (max-width: 1000px) {
  .feature img {
    position: inherit;
    bottom: inherit;
  }

  .feature div {
    height: inherit !important;
    position: inherit !important;
  }
}