/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff4081;
  --ifm-color-primary-dark: #ff206c;
  --ifm-color-primary-darker: #ff1061;
  --ifm-color-primary-darkest: #df004c;
  --ifm-color-primary-light: #ff6096;
  --ifm-color-primary-lighter: #ff70a1;
  --ifm-color-primary-lightest: #ffa0c0;
  --ifm-code-font-size: 95%;
  --ifm-color-white: #ffffff;
  --ifm-color-black: #444444;
  --ifm-footer-background-color: #242526;

  --ifm-color-white--frontpage: #f5f6f7;

  --ifm-color-kagamitranslation: #ff6e40;
  --ifm-color-kagaminihongo: #ff4081;
  --ifm-color-kagamiblog: #7c4dff;

  --ifm-font-family-baijamjuree: 'Bai Jamjuree';
  --ifm-font-family-updated-base-font: 'Bai Jamjuree', -apple-system, 'Segoe UI', 'Roboto', 'Arial', sans-serif;
}
/*--ifm-heading-color: #fd2fff;*/

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  --ifm-background-color: #121212;
}

::selection {
  background: #ffe5ec;
  color: #000000;
}

::-moz-selection {
  background: #ffe5ec;
  color: #000000;
}

.hero__title {
  color: var(--ifm-color-white--frontpage);
  font-family: Sen;
  font-size: 300%;
  font-weight: 800;
  margin-bottom: 0px;
  text-shadow: #ff4081 1px 0 10px;
}
/*text-shadow: #FC0 1px 0 10px;*/
.hero__subtitle {
  color: var(--ifm-color-white--frontpage);
  font-size: 140%;
  font-weight: 500;
  text-shadow: #ff4081 1px 0 6px;
}

.markdown>h2 {
  border-top: 1px solid #efefef;
  padding-top: 15px;
}

.markdown p img {
  max-width: 80%;
  border: 1px solid var(--ifm-hr-border-color);
  border-radius: 8px;
}

.markdown p em img {
  border: none;
}

@media screen and (max-width: 996px) {
  .markdown p img {
    max-width: 100%;
  }
}

.contents ul > li {
  font-size: 12px;
}

blockquote {
  border-left-color: var(--ifm-color-primary);
}

.menu .menu__list .menu__list {
  border-left: 1px solid #eee;
}

.navbar__title {
  font-family: Sen;
  font-size: 1.20rem;
}

.navbar__items {
  font-family: Sen;
  font-size: 1.10rem;
}

a.dropdown__link {
  font-size: 1.05rem;
}

.navbar__brand img {
  border-radius: 4px;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  font-family: var(--ifm-font-family-baijamjuree);
}

body {
  font-family: Bai Jamjuree;
  font-size: 120%;

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu__link {
  font-size: 90%;
}

.footer__title, .footer__item, .footer__copyright {
  font-family: Bai Jamjuree;
  font-size: 90%;
}

.about__title {
  color: var(--ifm-color-white--frontpage);
  font-family: Sen;
  font-size: 300%;
  font-weight: 800;
  margin-bottom: 0px;
}
/*text-shadow: #FC0 1px 0 10px;*/
.about__subtitle {
  color: var(--ifm-color-white--frontpage);
  font-size: 140%;
  font-weight: 500;
}

.footer {
  background-color: var(--ifm-footer-background-color);
}

.footer--dark {
  --ifm-footer-background-color: #242526;
}